version: "3.8"

services:
  dynamodb-local:
    image: amazon/dynamodb-local:2.5.2
    command: "-jar DynamoDBLocal.jar -sharedDb -inMemory"
    ports:
      - "8000:8000"
    environment:
      AWS_REGION: ap-northeast-1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 5s
      timeout: 2s
      retries: 5
    restart: unless-stopped



